# Dependencies
payment-frontend/node_modules

# Environment variables
payment-frontend/.env
payment-frontend/.env.local
payment-frontend/.env.development.local
payment-frontend/.env.test.local
payment-frontend/.env.production.local

# Logs
payment-frontend/logs
payment-frontend/*.log
payment-frontend/npm-debug.log*
payment-frontend/yarn-debug.log*
payment-frontend/yarn-error.log*

# Optional build directory
payment-frontend/dist



# Dependencies
payment-backend/node_modules

# Environment variables
payment-backend/.env
payment-backend/.env.local
payment-backend/.env.development.local
payment-backend/.env.test.local
payment-backend/.env.production.local

# Logs
payment-backend/logs
payment-backend/*.log
payment-backendnpm-debug.log*
payment-backend/yarn-debug.log*
payment-backend/yarn-error.log*

# Optional build directory
payment-backend/dist

